<div class="container pt-5">
    <h2 class="text-center">Utenti</h2>

    <div class="d-flex justify-content-end">
        <!-- Aggiungi Nuovo Utente - Chiama il component Modal con la modal di aggiunta nuovo -->
        <button type="button" class="btn btn-primary mb-4" (click)="openModal('create')">
            + Aggiungi Utente
        </button>
    </div>

    <div class="row row-cols-3 g-4">
        <div class="col justify-content-center" *ngFor="let u of users">

            <div class="card h-100">

                <div class="row g-0 ps-2 pt-2">
                    <div class="col-5 pt-2">
                        <img src="../../assets/propics/{{u.proPic}}" alt="propic" class="img-fluid">
                    </div>
                    <div class="col-7">
                        <div class="card-body">
                            <h5 class="card-title">{{u.nome | uppercase}} {{u.cognome | uppercase}}</h5>
                            <h6 class="card-subtitle text-muted">{{u.occupazione}}</h6>
                            <div class="card-text mt-4">
                                <p><strong>username:</strong> {{u.username}}</p>
                                <p><strong>email:</strong> {{u.email}}</p>
                                <small class="text-muted text-center">{{u.followers}} followers</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer mt-auto d-flex justify-content-between">
                    <!-- Elimina Utente -->
                    <button type="button" class="btn btn-danger mx-2" (click)="openModal('delete', u)">
                        Elimina
                    </button>                  

                    <!-- Modifica Utente - Chiama il component Modal con la modal di modifica -->
                    <button type="button" class="btn btn-warning mx-2" (click)="openModal('edit', u)">Modifica
                    </button>

                   

                </div>

            </div>
        </div>
    </div>
</div>