<div class="container pt-5">
    <h2 class="text-center">Utenti</h2>
    <div class="row row-cols-3 g-4">
        <div class="col justify-content-center" *ngFor="let u of users">

            <div class="card h-100">

                <div class="row g-0 ps-2 pt-2">
                    <div class="col-5 pt-2">
                        <img src="../../assets/propics/{{u.proPic}}" alt="propic" class="img-fluid">
                    </div>
                    <div class="col-7">
                        <div class="card-body">
                            <h5 class="card-title">{{u.nome | uppercase}} {{u.cognome | uppercase}}</h5>
                            <h6 class="card-subtitle text-muted">{{u.occupazione}}</h6>
                            <div class="card-text mt-4">
                                <h6>username:</h6>
                                <p>{{u.username}}</p>
                                <h6>email:</h6>
                                <p>{{u.email}}</p>
                                <small class="text-muted text-center">{{u.followers}} followers</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <!-- Elimina Utente -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalElimina">
                        Elimina
                    </button>

                    <!-- Modal di eliminazione -->
                    <div class="modal fade" id="modalElimina" tabindex="-1" aria-labelledby="modalEliminaLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalEliminaLabel">Elimina Utente</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Stai per eliminare {{u.nome | uppercase}} {{u.cognome | uppercase}}. 
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Annulla</button>
                                    <button type="button" class="btn btn-danger">Elimina</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Modifica Utente -->
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalModifica">
                        Modifica
                    </button>

                    <!-- Modal di modifica -->
                    <div class="modal fade" id="modalModifica" tabindex="-1" aria-labelledby="modalModificaLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalModificaLabel">Modifica Utente</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Stai per modificare {{u.nome | uppercase}} {{u.cognome | uppercase}}. 
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Annulla</button>
                                    <button type="button" class="btn btn-success">Salva Modifiche</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>