<div class="card">
    <div class="card-header text-white bg-info">
        Aggiungi post
    </div>
    <div class="card-boby">
        <form novalidate [formGroup]="postForm">
            <div class="form-group row mb-2">
                <label for="postFormId" class="col-md-2 col-form-label">
                    Titolo
                </label>
                <div class="col-md-8">
                    <input id="postFormId" type="text" class="form-control" formControlName="titolo" placeholder="Titolo(obligatoire)">
                </div>
            </div>
            <div class="form-group row mb-2">
                <label for="postContenutoId" class="col-md-2 col-form-label">
                    Contenuto
                </label>
                <div class="col-md-8">
                    <input type="text" id="postContenutoId" class="form-control" formControlName="contenuto" placeholder="contenuto(obligatoire)">
                </div>
            </div>
            <div class="form-group row mb-2">
                <label for="postAutoreId" class="col-md-2 col-form-label">
                    Autore
                </label>
                <div class="col-md-8">
                    <input type="text" id="postAutoreId" class="form-control" formControlName="autore" placeholder="autore(obligatoire)">
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="offset-md-2 col-md-4">
                    <button class="btn btn-info mr-3" type="submit">
                        save
                    </button>
                    <button class="btn btn-outline-secondary mr-3" type="button">
                        annula
                    </button>
                    <button class="btn btn-outline-danger" type="button">
                        elimina
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<pre>
  {{postForm.value | json}}  
</pre>