<div class="container pt-5">
    <h2 class="text-center">{{title}}</h2>
    <div class="row ">
        <div class="row-cols-1 mb-4" *ngFor="let posti of posts">
            <div class="card" style="width: 18rem;">
                <img [src]="posti.imageUrl" class="card-img-top" [alt]="posti.titolo">
                <div class="card-body">
                    <h5 class="card-title">{{posti.titolo}}</h5>
                    <p class="card-text">{{posti.contenuto}}</p>
                    <p class="card-text">{{posti.autore}}</p>
                    <button class="btn btn-primary" (click)="togleIsnewBadge()">Scopri</button>

                    <span *ngIf="showBadge">
                        <ul>
                            <li *ngFor ="let c of posti.commenti">
                                <p>{{c.autore}}</p>
                                <p>{{c.contenuto}}</p>
                                <p>{{c.like}}</p>
                                <p>{{c.dislike}}</p>
                            </li>
                        </ul>
                      
                        
                    </span>
                </div>
            </div>
        </div>
    </div>