<div class="modal-dialog modal-lg my-auto">

    <form *ngIf="operation != 'delete'" (ngSubmit)="onOperationConsent()" #form="ngForm">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Modifica Utente</h5>
                <button type="button" class="btn-close" (click)="activeModal.close('Close click')"
                    aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row pt-3">
                    <div class="col">
                        <div class="mb-3">
                            <label for="Nome" class="form-label">Nome:</label>
                            <input type="text" class="form-control" id="Nome" name="Nome" aria-label="Nome"
                                [(ngModel)]="user.nome">
                        </div>
                        <div class="mb-3">
                            <label for="NomeUtente" class="form-label">Nome Utente:</label>
                            <input type="text" class="form-control" id="NomeUtente" name="NomeUtente"
                                aria-label="Nome Utente" [(ngModel)]="user.username">
                        </div>
                        <div class="mb-3">
                            <label for="proPicFile" class="form-label">Immagine Profilo:</label>
                            <input type="text" class="form-control" id="proPicFile" name="proPicFile"
                            aria-label="Immagine Profilo Utente" [(ngModel)]="user.proPic">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="Cognome" class="form-label">Cognome:</label>
                            <input type="text" class="form-control" id="Cognome" name="Cognome" aria-label="Cognome"
                                [(ngModel)]="user.cognome">
                        </div>
                        <div class="mb-3">
                            <label for="Email" class="form-label">E-mail:</label>
                            <input type="text" class="form-control" id="Email" name="Email" aria-label="Email"
                                [(ngModel)]="user.email">
                        </div>
                        <div class="mb-3">
                            <label for="Occupazione" class="form-label">Occupazione:</label>
                            <input type="text" class="form-control" id="Occupazione" name="Occupazione"
                                aria-label="Occupazione" [(ngModel)]="user.occupazione">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    (click)="activeModal.close('Close click')">Annulla</button>
                <button type="submit" class="btn btn-success">Salva Modifiche</button>
            </div>
        </div>
    </form>

    <!-- Modal di eliminazione -->
    <div *ngIf="operation === 'delete'" class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteModal">Elimina Utente</h5>
            <button type="button" class="btn-close" (click)="activeModal.close('Close click')" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Stai per eliminare {{user.nome | uppercase}} {{user.cognome | uppercase}}. Procedere?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Annulla</button>
            <button type="button" class="btn btn-danger" (click)="onOperationConsent()">Elimina</button>
        </div>
    </div>


</div>